/* theme adjustments */
:root {
  --sl-hue-accent: 400;
}

/* static search bar placement */
:root,
::backdrop {
  --sl-title-min-width: 18rem;
}

/* border radius adjustments */
.astro-code {
  border-radius: 0.5rem;
}

code {
  border-radius: 0.5rem;
}

.card {
  border-radius: 0.5rem;
}

.starlight-aside {
  border-radius: 0.5rem;
}

/* centered footer text */
.footer-text {
  margin: auto;
  margin-top: 3rem;
  width: 50%;
  text-align: center;
}
