<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }} - docs.boldandbrad.dev</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📔</text></svg>"
    >
    {{ if it.page_css }}
      <link rel="stylesheet" href="/styles/pages/{{ page_css }}">
    {{ /if }}
  </head>
  <body>
    {{ include "templates/navbar.vto" }}
    <div>
      {{ content }}
    </div>
  </body>
</html>
