.toc {
  font: var(--text-caption);
  color: var(--ctp-mocha-blue);
  margin: 0;
  background-color: var(--ctp-mocha-surface0);
  border-radius: 5px;

  & ol,
  & ul {
    padding-left: 1.5em;
  }
  & a {
    color: var(--ctp-mocha-blue);
  }
}
